<?xml version="1.0" encoding="UTF-8"?>
<!--
    @author Andre Santos <flp_andre@yahoo.com.br>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Andre_M2Sample">
    </module>
</config>
