<?xml version="1.0"?>
<!--
/**
 * @author Andre Santos <flp_andre@yahoo.com.br>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="sample_group"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>Sample Module Group</label>
                <field id="sample_message"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Sample message</label>
                    <comment>This text will display on checkout custom step</comment>
                </field>
            </group>
        </section>
    </system>
</config>
